.nav{
    grid-area: n;
    background-color: #13904f; 
    padding: 20px;   
    }

    .item a {
        color: #ffffff;
        text-decoration: none;        
        font-size: 18px;
    }

    .item .active {
        
        color: rgb(249, 181, 9);
    }